@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


.dark {
    background-color: rgb(16 24 40);
}

/* remove up and down arrows in budget input tag */
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 640px) {
  .hide-on-mobile {
    display: none !important;
  }
}